# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* list of popular languages used by Data Scientists.
* list of commonly libraries used by Data Scientists.
* do examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

| Data Science Tools |
|------|
|HadooP|
|Java|
|Julia|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers:
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60:
200/60

3.3333333333333335

## Auther
Nouf Abdullah